<main class="main">
  <div class="flex flex-col justify-center gap-2 mb-12">
    <span class="text-big">¿Estas seguro de insertar eso?</span>
    <app-options-button class=""></app-options-button>
  </div>
  <div class="flex justify-center mb-2">
    <span class="text-2xl">Pulsa login o register:</span>
  </div>
  <div class="flex justify-center gap-6 mb-3">
    <button (click)="iniciarLogin()" class="btn-normal">Login</button>
    <button (click)="iniciarRegister()" texto="Cerrar Sesión" class="btn-normal">Register</button>
  </div>
  <app-login-form *ngIf="sesionLogin"></app-login-form>
  <app-register-form *ngIf="!sesionLogin"></app-register-form>
  <app-element-form></app-element-form>
</main>